



                            _    _      _    ______ _       _    __
                           | |  | |    | |   | ___ \ |     | |  / _|
                           | |  | | ___| |__ | |_/ / | __ _| |_| |_ ___  _ __ _ __ ___
                           | |/\| |/ _ \ '_ \|  __/| |/ _` | __|  _/ _ \| '__| '_ ` _ \
                           \  /\  /  __/ |_) | |   | | (_| | |_| || (_) | |  | | | | | |
                            \/  \/ \___|_.__/\_|   |_|\__,_|\__|_| \___/|_|  |_| |_| |_|


                           WebPlatform SSH Jumper                             {{ level }}


Not ALL VMs in an environment has a publicly available IP address.
To connect to them, you have to configure your local SSH client to use the salt master as
a proxy. SSHing to a VM is done in the following way:

    ssh app1.{{ level }}.wpdn

In this example, app1.{{ level }}.wdpn is visible only from the salt master and the private
network. All you need to do is add the following to your `~/.ssh/config`:

    ## Use salt.{{ tld }} as a Jump box
    ##
    ## Ref:
    ##   - http://serverfault.com/questions/337274
    ##   - https://wikitech.wikimedia.org/wiki/Help:Access#Using_ProxyCommand_ssh_option
    ##   - http://blog.pluralsight.com/linux-ssh-jumpbox
    Host {{ level }}.wpdn
      Hostname salt.{{ tld }}
      ProxyCommand none
    Host *.{{ level }}.wpdn
      ProxyCommand ssh -e @ -o StrictHostKeyChecking=no -a -W %h:%p {{ level }}.wpdn



