
# Managed by Salt Stack, please DO NOT TOUCH, or ALL CHANGES WILL be LOST!

#
# This file should contain only what’s common for EVERY nodes
#
#
# Ref:
#   - http://mmonit.com/monit/documentation/monit.html
#
#{% set hostname = grains['fqdn'] %}
# Host {{ hostname }}

check system {{ nodename }}
  if loadavg (1min) > 4 then alert
  if loadavg (5min) > 2 then alert
  if memory usage > 75% then alert
  if swap usage > 25% then alert
  if cpu usage (user) > 70% then alert
  if cpu usage (system) > 30% then alert
  if cpu usage (wait) > 20% then alert

check process salt-minion
  with pidfile "/var/run/salt-minion.pid"
  group salt
  start = "/usr/sbin/service salt-minion start"
  stop  = "/usr/sbin/service salt-minion stop"
  if not exist for 3 cycles then restart
  if 5 restarts within 5 cycles then timeout

set httpd port {{ monit_port|default(2812) }} and
  use address localhost      # only accept connection from localhost
  allow localhost            # allow localhost to connect to the server and
  allow 10.10.10.0/24
  allow admin:{{ monit_pw }} # require user 'admin' with password 'monit'
  allow @monit               # allow users of group 'monit' to connect (rw)
  allow @users readonly      # allow users of group 'users' to connect readonly

set mailserver mailtrap.io
  username 263449d09cda1e8fd  # #TODO hardcoded password
  password 34fb58c208f207
  using sslauto

set mail-format { from: monit@{{ nodename }} }
set alert hostmaster@webplatformstaging.org not on { pid ppid }  # #TODO hardcoded domain name
