
# Managed by Salt Stack, please DO NOT TOUCH, or ALL CHANGES WILL be LOST!

#
# This file should contain only what’s common for EVERY nodes
#
#
# Ref:
#   - http://mmonit.com/monit/documentation/monit.html
#
# Host {{ fqdn }}

check system {{ fqdn }}
  if loadavg (1min) > 4 then alert
  if loadavg (5min) > 2 then alert
  if memory usage > 85% then alert
  if swap usage > 25% then alert
  if cpu usage (user) > 70% then alert
  if cpu usage (system) > 30% then alert
  if cpu usage (wait) > 20% then alert

check process openssh-server
  with pidfile "/var/run/sshd.pid"
  group essentials
  start = "/usr/sbin/service ssh start"
  stop  = "/usr/sbin/service ssh stop"
  if not exist for 3 cycles then restart
  if 5 restarts within 5 cycles then timeout

check process salt-minion
  with pidfile "/var/run/salt-minion.pid"
  group essentials
  start = "/usr/sbin/service salt-minion start"
  stop  = "/usr/sbin/service salt-minion stop"
  if not exist for 3 cycles then restart
  if 5 restarts within 5 cycles then timeout

## curl -u admin:{{ monit_pw }} http://localhost:2812/
set httpd port {{ monit_port|default(2812) }} signature disable and
  allow localhost            # allow localhost to connect to the server and
  allow admin:{{ monit_pw }} # require user 'admin' with password 'monit'
  allow @monit               # allow users of group 'monit' to connect (rw)
  allow @admin
  allow @users readonly      # allow users of group 'users' to connect readonly
  allow {{ salt_master_ip|default('127.0.1.1') }}

## We relay email ONLY from local network anyway
set mailserver mail.local.wpdn
  using timeout 10 seconds

set mail-format { from: notifier-monit@webplatform.org }

## ref: http://mmonit.com/monit/documentation/monit.html#Setting-an-event-filter
set alert team-webplatform-cronjobs@w3.org not on { pid ppid instance }  # #TODO hardcoded domain name

{#% if grains['level'] == 'production' %}
## #TODO remove hardcoded
#set mmonit http://monit:monit@10.10.10.80:8080/collector
{% endif %#}
