<?php

# Improve ways to handle sessions #TODO reverted back to files since we only have one piwik anyway ATM
# See also config/config.ini.php w setting session_save_handler = "dbtable"

#ini_set('session.save_handler', 'memcache');
#ini_set('session.save_path',    'tcp://10.10.10.177:11211?persistent=1&amp;weight=1&amp;timeout=1&amp;retry_interval=15');

