{
  "phabricator.base-uri": "https:\/\/project.webplatformstaging.org"
  ,"mysql.user": "phabricator"
  ,"mysql.pass": "p8nM0n76eT"
  ,"mysql.host": "masterdb.local.wpdn"
  ,"phd.log-directory": "/var/log/hhvm"
  ,"policy.allow-public": true
  ,"auth.require-approval": false
  ,"metamta.mail-adapter": "PhabricatorMailImplementationPHPMailerAdapter"
  ,"phpmailer.mailer": "smtp"
}
