{
  "server" : "asimov.freenode.net",
  "port" : 7070,
  "ssl": true,
  "nick" : "wpdbot",
  "join" : [
    "#webplatform-bot"
  ],
  "handlers" : [
    "PhabricatorBotObjectNameHandler",
    "PhabricatorBotSymbolHandler",
    "PhabricatorBotLogHandler",
    "PhabricatorBotFeedNotificationHandler",
    "PhabricatorBotWhatsNewHandler",
    "PhabricatorBotMacroHandler"
  ],
  "conduit.uri" : "https://source.webplatform.org",
  "conduit.user" : "",
  "conduit.cert" : "",
  "macro.size" : 48,
  "macro.aspect" : 0.66,
  "notification.channels" : ["#webplatform-bot"]
}
