# vim: ai filetype=conf
## SecurityGroup port: UDP 514 @salt
source s_udp {
	udp();
};

destination d_apache_error {
	file("/mnt/logs/apache_error.log");
};

log {
	source(s_udp);
	destination(d_apache_error);
};
