# REMINDER
# To upgrade version, do not forget
# ./bootstrap
[app:main]
use: egg:h

api.endpoint: /api
api.key: 9cafe3b1-bc92-n1e3-ac10-0800200c9a66
api.secret: f52c57f0-36ba-761e-32df-28621a1d26c1

auth.wpd.client_id: 27b93dae2d61e07d
auth.wpd.client_secret: f6e09900b19badb9c2c3f26f013a9ab1404874ff3708ae7a5e7cdd28cb116817
#auth.local.authorization: /oauth/authorize
#auth.local.token: /oauth/token

es.host: http://elastic1.dho.wpdn:9200
es.index: notes

horus.login_redirect: /
horus.logout_redirect: /

multiauth.policies: h.auth.local h.api

mail.default_sender: "Annotation Daemon" <notifier-notes@webplatform.org>
mail.host: mail.webplatform.org 
mail.port: 25

pyramid.includes:
    pyramid_deform
    pyramid_mailer
    h.domain_mailer

pyramid_deform.template_search_path:
    h:templates/deform
    deform_bootstrap:templates

webassets.base_dir: h:
webassets.base_url: assets
webassets.cache_max_age: 86400
webassets.coffee_no_bare: True
webassets.static_view: True

[server:main]
use: egg:gunicorn
worker_class: gevent
host: 127.0.0.1
port: 5000

[loggers]
keys = root, gunicorn.access, gunicorn.error, h, sqlalchemy

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = WARN
handlers = console

[logger_gunicorn.error]
level = WARN
handlers =
qualname = gunicorn.error

[logger_gunicorn.access]
level = INFO
handlers =
qualname = gunicorn.access

[logger_h]
level = WARN
handlers =
qualname = h

[logger_sqlalchemy]
level = WARN
handlers =
qualname = sqlalchemy.engine

[handler_console]
class = StreamHandler
args = (sys.stderr,)
formatter = generic

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s] %(message)s
