check host elasticsearch-remote with address "localhost"
  if failed port 9200 protocol HTTP
    request "/_aliases"
    with timeout 10 seconds
    then alert
 
check host hypothesis-service with address "localhost"
  start program = "/usr/sbin/service hypothesis start"
  stop program = "/usr/sbin/service hypothesis stop"
  if failed port 5000 protocol HTTP
    request /
    with timeout 10 seconds
    then restart
 
