<?php
# Managed by Salt Stack

class config
{
        static $dbms_host =             "{{ salt['pillar.get']('accounts:lumberjack:db:hostname', 'localhost') }}";
        static $dbms_port =             "{{ salt['pillar.get']('accounts:lumberjack:db:port', '3306') }}";
        static $dbms_database =         "{{ salt['pillar.get']('accounts:lumberjack:db:database', 'lumberjack') }}";
        static $dbms_user =             "{{ salt['pillar.get']('accounts:lumberjack:db:username', 'root') }}";
        static $dbms_pass =             "{{ salt['pillar.get']('accounts:lumberjack:db:password', '') }}";

        static $default_channel =       "webplatform";
        static $default_number_of_lines = 50;

        static $timezone =              "UTC";

        static function get_db()
        {
                return new lumberjack_db( config::$dbms_host, config::$dbms_port, config::$dbms_database, config::$dbms_user, config::$dbms_pass, config::$timezone );
        }
}
