[database]
   password = {{ pillar['gerrit_dbpass'] }}
[auth]
   registerEmailPrivateKey = {{ pillar['gerrit_email_key'] }}
   restTokenPrivateKey = ynh8Z7ePovmQvBw-bHMkZiwqqCOcuqbtJtE
[sendemail]
   smtpPass = 4nEm41LP45$w0rD
