#
# Enable OpenStack Nova commands if user can read the file
#
# Ensure mod is 640 with ownership as root:ops
# and expected to be /etc/profile.d/NAME.sh
#
# @since 2013-08-20
#
export OS_AUTH_URL=https://keystone.dream.io/v2.0
export OS_TENANT_ID="{{ salt['pillar.get']('accounts:tenant:id', '') }}"
export OS_TENANT_NAME="{{ salt['pillar.get']('accounts:tenant:name', '') }}"
export OS_USERNAME="{{ salt['pillar.get']('accounts:tenant:username', '') }}"
export OS_PASSWORD="{{ salt['pillar.get']('accounts:tenant:password', '') }}"
export NOVA_COMMONS='--image Ubuntu-14.04-Trusty-latest --user-data /srv/opsconfigs/userdata.txt --key_name salt-renoirb'
