## Managed by Salt Stack, please DO NOT TOUCH, or ALL CHANGES WILL be LOST!
## source {{ source }}

# ref:
#   - http://docs.docker.com/compose/
#   - http://docs.docker.com/compose/yml/
#
# see similar state:
#   - code/files/status/docker-compose.yml.jinja

web:
  image: webspecs/publican:wip

  # Default in this container is bash, using command below runs
  # publican server for us while allowing us to enter the original
  # container image in case of need to understand what’s available.
  command: bin/run.sh

  # Make sure you have a data folder in the same
  # directory as this file. Container expects the following
  # files and folders.
  #  - data/{queue,gits,logs,temp}
  #  - data/config.json
  #  - spec-data/read-only
  volumes:
    - data/:/srv/webapps/publican/data
    - spec-data/:/opt/bikeshed/bikeshed/spec-data

  restart: always

  ports:
    - "{{ upstream_port }}:7002"

  dns:
    - {{ salt_master_ip }}
    - 8.8.8.8

# vim: et ts=2 sw=2 ft=yaml:

