{%- if grains['level'] == 'staging' %}
@gmail.com					root
@outlook.com				root
@yahoo.com					root
@live.com						root
@aol.com						root
@w3.org							root
{% endif -%}
notifier-project		renoir+notifier@w3.org
notifier-blog				renoir+notifier@w3.org
notifier-tracking		renoir+notifier@w3.org
notifier-docs				renoir+notifier@w3.org
notifier-web25			renoir+notifier@w3.org
notifier-notes			renoir+notifier@w3.org
notifier-monit			renoir+notifier@w3.org
notifier-discourse	renoir+notifier@w3.org
accounts						renoir+notifier@w3.org
postmaster					root
quarantine				postmaster
ubuntu						postmaster
help							postmaster
nobody						postmaster
hostmaster				postmaster
noc								postmaster
abuse							postmaster
webmaster					postmaster
security					postmaster
www-data					postmaster
cron							postmaster
mailer-daemon			postmaster
news							postmaster
www								postmaster
ftp								postmaster
clamav						postmaster
_00_							collector
0feece						collector
1st1							collector
2ice2							collector
3angle3						collector
4u4								collector
5ne5							collector
6teen6						collector
7heaven7					collector
8teen8						collector
9teen9						collector
Anddre						collector
Bermmard					collector
Caassee						collector
Dellyiia					collector
Ernyyst						collector
Francck						collector
Gieeorge					collector
Hancck						collector
Iirrenm						collector
Jonnh							collector
Kevveen						collector
Loorra						collector
Mmycchy						collector
Nnooah						collector
Ofic							collector
Paaool						collector
Qooeen						collector
Raaool						collector
Stannm						collector
Teddee						collector
Urricch						collector
Vasseelly					collector
Weezzard					collector
Xanttoo						collector
Yyasm							collector
Zzachr						collector
