## Managed by Salt Stack, please DO NOT TOUCH, or ALL CHANGES WILL be LOST!
## source {{ source }}

# ref:
#   - http://docs.docker.com/compose/
#   - http://docs.docker.com/compose/yml/

main:
  #image: webplatform/etherpad

  build: .

  restart: always

  ports:
    - "{{ upstream_port }}:9001"

  expose:
    - "9001"

  # This isn't in use yet.
  # We'll have to setup etherpad-lite to read environment variables too
  environment:
    DB_HOST: {{ masterdb_ip }}
    DB_DATABASE: {{ db_creds.database|default('etherpad') }}
    DB_PASSWORD: {{ db_creds.password|default('') }}
    DB_USERNAME: {{ db_creds.username|default('root') }}

  volumes:
    - log:/var/log/etherpad

  dns:
    - {{ salt_master_ip }}
    - 8.8.8.8

# vim: et ts=2 sw=2 ft=yaml:
