{%- set alpha_memcache = salt['pillar.get']('infra:alpha_memcache', []) -%}
{%- set alpha_redis = salt['pillar.get']('infra:alpha_redis', []) -%}
{%- set sessions = salt['pillar.get']('infra:sessions', []) -%}

##
## Nutcracker. A Redis+Memcached proxy
##
## Ref:
##   - https://github.com/wikimedia/operations-puppet/blob/production/modules/nutcracker/manifests/init.pp
##   - https://github.com/twitter/twemproxy#configuration
##   - https://github.com/twitter/twemproxy/blob/b2cd3ad/notes/recommendation.md
##
## To validate config file:
##     /usr/sbin/nutcracker --test-conf ...
##

{%- if alpha_memcache|count >= 1 -%}
alpha_memcache:
  listen: 127.0.0.1:11211
  redis: false
  hash: md5
  distribution: ketama
  timeout: 250
  preconnect: true
  server_retry_timeout: 30000
  server_failure_limit: 30
  auto_eject_hosts: true
  servers:
{%- for item in alpha_memcache %}
    - {{ item }}:11211
{%- endfor %}
{%- endif %}

{% if alpha_redis|count >= 1 -%}
alpha_redis:
  listen: 127.0.0.1:6379
  redis: true
  hash: fnv1a_64
  distribution: ketama
  timeout: 250
  preconnect: true
  server_retry_timeout: 30000
  server_failure_limit: 30
  auto_eject_hosts: true
  servers:
{%- for item in alpha_redis %}
    - {{ item }}:6379
{%- endfor %}
{% endif -%}

{% if sessions|count >= 1 -%}
sessions_redis:
  listen: 127.0.0.1:6355
  redis: true
  hash: fnv1a_64
  distribution: ketama
  timeout: 250
  preconnect: true
  server_retry_timeout: 30000
  server_failure_limit: 30
  auto_eject_hosts: true
  servers:
{%- for item in sessions %}
    - {{ item }}:6379
{%- endfor %}
{% endif -%}

{% if sessions|count >= 1 -%}
sessions_memcache:
  listen: 127.0.0.1:11255
  hash: fnv1a_64
  distribution: ketama
  timeout: 250
  preconnect: true
  server_retry_timeout: 30000
  server_failure_limit: 30
  auto_eject_hosts: true
  servers:
{%- for item in sessions %}
    - {{ item }}:11211
{%- endfor %}
{% endif -%}

