
error_page 500 /errors/500.html;
error_page 502 /errors/502.html;
error_page 503 /errors/503.html;
error_page 504 /errors/500.html;
error_page 505 /errors/500.html;
error_page 403 /errors/403.html;
error_page 404 /errors/404.html;

location ^~ /errors/ {
    internal;
    ## Which we expect to have static html error documents
    ## as.. /srv/webplatform/errors/500.html
    root /srv/webplatform;
}

server_tokens off;
more_clear_headers 'X-Powered-By';
more_clear_headers 'Server';

#resolver {{ salt_master_ip }} 8.8.4.4 8.8.8.8 valid=300s;
#resolver_timeout 10s;

