frontend = /usr/share/lurker/www
web_cache = on
archive = WebPlatform Infrastructure Internal notification archiver
admin_name    = WebPlatform Systems team
admin_address = team-webplatform-systems@w3.org

group = system-messages
	heading = Daemon notices reader
	list = notices-all
		title[en] = Catch-All
		language = en
		description = All messages, until we work on filtering system messages

