<?php

{%- set data = salt['pillar.get']('accounts:blog', {}) -%}
{%- set db_creds      = salt['pillar.get']('accounts:blog:db') -%}
{%- set db_servers    = salt['pillar.get']('infra:db_servers:mysql:slaves', []) -%}
{%- set masterdb_ip   = salt['pillar.get']('infra:hosts_entries:masterdb', 'localhost') %}

## Managed by Salt Stack, please DO NOT TOUCH, or ALL CHANGES WILL be LOST!
## source {{ source }}

require_once('lib/main.php');

## Debuging switches
## http://www.one-tab.com/page/74i1sP-XSVCyJts_AjzpIQ
#error_reporting( -1 );
#ini_set( 'display_errors', 1 );

## Deployment specific details
{% if salt['grains.get']('level') == 'staging' -%}
$siteTopLevelDomain = 'webplatformstaging.org';
$wpd['meta_robots'] = 'noindex,nofollow';
{% else -%}
$siteTopLevelDomain = 'webplatform.org';
{% endif %}

$wpd['pagespeed_key'] = "{{ salt['pillar.get']('accounts:blog:secrets:googlepagespeed', '') }}";
$wpd['piwik_url'] = 'https://stats.' . $siteTopLevelDomain . '/';
$wpd['memcache_array'] = array('127.0.0.1:11255');

/**
 * WebPlatform Blog
 *
 * See also:
 *  * http://generatewp.com/wp-config/
 **/

define('WP_HOME',    'http://blog.' . $siteTopLevelDomain);
define('WP_SITEURL', 'http://blog.' . $siteTopLevelDomain . '/wordpress');
define('WP_CONTENT_DIR', $_SERVER['DOCUMENT_ROOT'] . '/wp-content');
define('WP_CONTENT_URL', 'http://blog.' . $siteTopLevelDomain . '/wp-content');
define('VHOST_URL', 'http://blog.' . $siteTopLevelDomain );

## Enforce SSL:
##  * http://www.wpwhitesecurity.com/wordpress-security/definitive-guide-wordpress-ssl-setup/
#define('FORCE_SSL_LOGIN', true);
#define('FORCE_SSL_ADMIN', true);

/**
 * Production friendly settings
 **/
define('DISABLE_WP_CRON', true);  ## This should be set to true, otherwise it might self-hammer the site
define('WP_CACHE', true);
define('WP_POST_REVISIONS', 3);
define('W3TC_EDGE_MODE', true); // Added by W3 Total Cache
define('WP_DEFAULT_THEME', 'webplatform');

#define('DISABLE_CACHE', true);
define('WP_DEBUG_LOG', false);
define('WP_DEBUG', false);

/**
 * Database configuration
 */
define('DB_CHARSET',  "utf8");
define('DB_COLLATE',  "");
define('DB_HOST',     "{{ masterdb_ip }}");
define('DB_NAME',     "{{ db_creds.database|default('wpblog') }}");
define('DB_USER',     "{{ db_creds.username|default('root')   }}");
define('DB_PASSWORD', "{{ db_creds.password|default('')       }}");


// Generate new ones https://api.wordpress.org/secret-key/1.1/salt/
define('AUTH_KEY',         "{{ salt['pillar.get']('accounts:blog:secrets:AUTH_KEY', '') }}");
define('SECURE_AUTH_KEY',  "{{ salt['pillar.get']('accounts:blog:secrets:SECURE_AUTH_KEY', '') }}");
define('LOGGED_IN_KEY',    "{{ salt['pillar.get']('accounts:blog:secrets:LOGGED_IN_KEY', '') }}");
define('NONCE_KEY',        "{{ salt['pillar.get']('accounts:blog:secrets:NONCE_KEY', '') }}");
define('AUTH_SALT',        "{{ salt['pillar.get']('accounts:blog:secrets:AUTH_SALT', '') }}");
define('SECURE_AUTH_SALT', "{{ salt['pillar.get']('accounts:blog:secrets:SECURE_AUTH_SALT', '') }}");
define('LOGGED_IN_SALT',   "{{ salt['pillar.get']('accounts:blog:secrets:LOGGED_IN_SALT', '') }}");
define('NONCE_SALT',       "{{ salt['pillar.get']('accounts:blog:secrets:NONCE_SALT', '') }}");

# vim: set ft=php expandtab:

