##
## After making changes to this file, you MUST rebuild for any changes
## to take effect in your live Discourse instance:
##
## {{ dir }}/launcher rebuild app
##

## refer to comments in the samples/ folder

templates:
  - "templates/web.template.yml"
  - "templates/web.ratelimited.template.yml"

expose:
  - "{{ upstream_port }}:80"   # fwd host port 8001   to container port 80 (http)

params:
  db_default_text_search_config: "pg_catalog.english"

env:
  DISCOURSE_DB_USER: {{ db.username }}
  DISCOURSE_DB_PASSWORD: {{ db.password }}
  DISCOURSE_DB_HOST: {{ db.hostname }}
  DISCOURSE_REDIS_HOST: {{ alpha_redis[0].split(':')[0] }}

  LANG: en_US.UTF-8
  DISCOURSE_DEVELOPER_EMAILS: 'renoirb@gmail.com,renoir@w3.org'
  DISCOURSE_HOSTNAME: 'discuss.{{ tld }}'
  DISCOURSE_SMTP_ADDRESS: localhost
  DISCOURSE_SMTP_OPENSSL_VERIFY_MODE: none

volumes:
  - volume:
      host: {{ dir }}/shared/standalone
      guest: /shared
  - volume:
      host: {{ dir }}/shared/standalone/log/var-log
      guest: /var/log

hooks:
  after_code:
    - exec:
        cd: $home/plugins
        cmd:
          - mkdir -p plugins
          - git clone https://github.com/discourse/docker_manager.git

##
## We don't rely on allowing ssh to container, if you really need, go to the runner VM and do:
##
##     ./launcher enter app
##
#run:
#  - exec: echo "Beginning of custom commands"
#  - exec: ssh-import-id gh:renoirb
#  - exec: echo "End of custom commands"
#  - exec: awk -F\# '{print $1;}' ~/.ssh/authorized_keys | awk 'BEGIN { print "Authorized SSH keys for this container:"; } NF>=2 {print $NF;}'

