<?php

	/**
	 * B2DB sql parameters
	 *
	 * @author Daniel Andre Eikeland <zegenie@zegeniestudios.net>
	 * @version 2.0
	 * @license http://www.opensource.org/licenses/mozilla1.1.php Mozilla Public License 1.1 (MPL 1.1)
	 * @package b2db
	 * @subpackage core
	 */

	self::setUname('buggenie');
	self::setPasswd('aiGaePah4Zai0ph');
	self::setTablePrefix('tbg3_');

	self::setDSN('mysql:host=master.db.wpdn;dbname=buggenie');
