check host fxa-content with address "{{ infra_pillar['content']['host']|default('127.0.0.1') }}"
  start program = "/usr/sbin/service fxa-content start"
  stop program = "/usr/sbin/service fxa-content stop"
  if failed port {{ infra_pillar['content']['port']|default('3030') }} protocol HTTP
    request /
    with timeout 60 seconds
    then restart

