server {
    listen        80;
    server_tokens off;
    server_name   accounts.{{ tld }};
    return        301 https://accounts.{{ tld }}$request_uri;
}

server {
    listen        80;
    server_tokens off;
    server_name   api.accounts.{{ tld }};
    return        301 https://api.accounts.{{ tld }}$request_uri;
}

server {
    listen        80;
    server_tokens off;
    server_name   oauth.accounts.{{ tld }};
    return        301 https://oauth.accounts.{{ tld }}$request_uri;
}

server {
    listen        80;
    server_tokens off;
    server_name   profile.accounts.{{ tld }};
    return        301 https://profile.accounts.{{ tld }}$request_uri;
}

server {
    listen       443 ssl spdy;
    server_name  accounts.{{ tld }};

    include      common_params;
    include      ssl_params;

    location / {
      proxy_pass http://{{ infra_pillar['content']['host']|default('127.0.0.1') }}:{{ infra_pillar['content']['port']|default(3030) }};
    }

    ssl on;
    ssl_certificate     /etc/ssl/webplatform/public_default_201407.pem;
    ssl_certificate_key /etc/ssl/webplatform/201407.key;
}

# vim: ai ft=nginx tabstop=2 sw=2 noexpandtab:

