{%- set ram_int = salt['grains.get']('mem_total', '1024') // 1024 -%}
{%- set max_clients = ram_int * 150 -%}
{%- if ram_int == 1 -%}
  {%- set max_per_child = 600 -%}
{%- elif ram_int == 2 -%}
  {%- set max_per_child = 800 -%}
{%- else -%}
  {%- set max_per_child = 1000 -%}
{%- endif -%}
# Edited by Salt Stack, generated with calculations (NOT, fixme)
# based on the curernt system available resources in apache/init.sls
#
# Current system memory:    {{ salt['grains.get']('mem_total', 'ERROR') }}
# ram_int value:            {{ ram_int }}
#
ServerName            {{ salt['grains.get']('nodename') }}

MinSpareServers       10
MaxSpareServers       25
MaxClients            64
ServerLimit           64
MaxRequestsPerChild   200
Timeout               30
