; <?php exit; ?> DO NOT REMOVE THIS LINE
[superuser]
login    = {{ salt['pillar.get']('accounts:piwik:superuser:username', 'admin') }}
password = {{ salt['pillar.get']('accounts:piwik:superuser:password', '') }}
email    = {{ salt['pillar.get']('accounts:piwik:contact:email', 'team-webplatform-systems@w3.org') }}

[database]
host          = {{ salt['pillar.get']('accounts:piwik:db:hostname', 'localhost') }}
username      = {{ salt['pillar.get']('accounts:piwik:db:username', 'root') }}
password      = {{ salt['pillar.get']('accounts:piwik:db:password', '') }}
dbname        = {{ salt['pillar.get']('accounts:piwik:db:database', 'wpstats') }}
tables_prefix = piwik_

[General]
trusted_hosts[] = "stats.webplatform.org"
trusted_hosts[] = "tracking.webplatform.org"
trusted_hosts[] = "stats.webplatformstaging.org"
session_save_handler    = dbtable
proxy_client_headers[]  = HTTP_X_FORWARDED_FOR
proxy_host_headers[]    = HTTP_X_FORWARDED_HOST
noreply_email_address   = {{ salt['pillar.get']('accounts:piwik:contact:email', 'team-webplatform-systems@w3.org') }}
