server {
    listen        80;
    server_name   stats.{{ tld }};
    server_tokens off;
    return        301 https://stats.{{ tld }}$request_uri;
}

server {
    listen              443 ssl spdy;
    ssl                 on;
    ssl_certificate     /etc/ssl/webplatform/ssl.pem;
    ssl_certificate_key /etc/ssl/webplatform/201407.key;

    root         /srv/webplatform/piwik/;
    server_name  stats.{{ tld }};

    include      common_params;
    include      ssl_params;

    ## Disallow any usage of piwik assets if referer is non valid.
    #location ~* ^.+\.(?:jpg|png|css|gif|jpeg|js|swf)$ {
    #    # Defining the valid referers.
    #    valid_referers none blocked *.webplatform.org *.webplatformstaging.org;
    #    if ($invalid_referer)  {
    #         return 444;
    #    }
    #    expires max;
    #    break;
    #}

    location / {
        try_files $uri /index.php;
    }

    # Relay all index.php requests to fastcgi.
    location ~* ^/(?:index|piwik)\.php$ {
        fastcgi_pass {{ grains['ipaddr'] }}:9000;
        include      fastcgi_params;
        include      proxy_params;
    }

    # Any other attempt to access PHP files returns a 404.
    location ~* ^.+\.php$ {
        return 404;
    }

    ## No crawling of this site for bots that obey robots.txt.
    location = /robots.txt {
        return 200 "User-agent: *\nDisallow: /\n";
    }
}

# vim: ai ft=nginx tabstop=2 sw=2 noexpandtab:

