<?php

## Managed by Salt Stack, please DO NOT TOUCH, or ALL CHANGES WILL be LOST!
## source {{ source }}

#$wgReadOnly = 'Network connectivity issue with main database server, please stand by'; //In maintenance, will be back shortly. More details on [http://status.webplatform.org/ status.webplatform.org]';

#error_reporting( -1 );
#ini_set( 'display_errors', 1 );
#if(isset($_GET['foo'])) { error_log('Foo test hit'); phpinfo(); die(); }

## Or use pillars data. Might be useful if local node Nutcracker is problematic
## Note that we are using PHP 5.4+ array notation [],
## as much as what gets here is a list, it’ll be OK
$wpdConfig['alpha_memcache'] = {{ alpha_memcache|json }};
$wpdConfig['alpha_redis']    = {{ alpha_redis|json }};
$wpdConfig['sessions_redis'] = {{ sessions_redis|json }};
{%- if level == 'production' %}
$wgSquidServersNoPurge = {{ fastly_cidrs|json }};
{%- elif level == 'staging' %}
$wgSquidServersNoPurge = {{ fastly_cidrs|json }};
{%- endif %}

## To use Nutcracker?
## ... make sure you have top.sls at 'app*' to also have nutcracker state
#$wpdConfig['alpha_memcache'] = array( '127.0.0.1:11255' );
#$wpdConfig['alpha_redis']    = array( '127.0.0.1:6355'  );
#$wpdConfig['sessions_redis'] = array( '127.0.0.1:6379'  );

#$wgShowDebug = false;
#$wgDebugToolbar = true;

#$wgDebugRedirects = false;

## Memcached
#$wgMemCachedDebug = true;

#$wgShowExceptionDetails = true;

$mwLogDir = __DIR__ . '/../logs';
#$mwLogDir = '/vagrant/logs';

$wgDBerrorLog   = "{$mwLogDir}/dberror.log";
$wgDebugLogFile = "{$mwLogDir}/debug.log";
#$wgRateLimitLog = "{$mwLogDir}/ratelimit.log";

#$wgDebugLogGroups['exception']      = "{$mwLogDir}/exception.log";
#$wgDebugLogGroups['resourceloader'] = "{$mwLogDir}/resourceloader.log";

## Calls to deprecated methods will trigger E_USER_DEPRECATED errors
## in the PHP error log.
#$wgDevelopmentWarnings = true;

## Expose debug info for SQL errors.
#$wgDebugDumpSql = true;
#$wgShowDBErrorBacktrace = true;
#$wgShowSQLErrors = true;

## Deployment specific details
$siteTopLevelDomain = '{{ tld }}';
{% if level != 'production' -%}
$wgPiwikIDSite = 0;
$wgSitename = "WebPlatform Docs [{{ level }}]";
$wgDefaultRobotPolicy = 'noindex,nofollow';
{% else -%}
$wgSitename = "WebPlatform Docs";
$wgDefaultRobotPolicy = 'index,follow';
{% endif %}

## ref: http://www.mediawiki.org/wiki/Manual:$wgCanonicalServer
$wgServer = "//docs.".$siteTopLevelDomain;
$wgCanonicalServer = "https://docs.".$siteTopLevelDomain;

$wgCompatablesJsonFileUrl = "https://docs.".$siteTopLevelDomain."/compat/data.json";

require_once( "$IP/../LocalSettings.php" );
require_once( "$IP/../../Settings.php" );

# vim: set ft=php expandtab:

