<?php
# vi set ai syntax=php

// Managed by Salt Stack, please DO NOT TOUCH, or ALL CHANGES WILL be LOST!

#error_reporting(0);

{%- if salt['grains.get']('level') == 'staging' %}
$siteTopLevelDomain = 'webplatformstaging.org';
{% else %}
$siteTopLevelDomain = 'webplatform.org';
{% endif -%}

#
# Redis job servers
#
$wpdRedisJobServers		= array();
$wpdRedisJobServers[]		= '10.10.10.108';

#
# Redis session servers
#
$wpdRedisSessionServers		= array();
$wpdRedisSessionServers[]	= '10.10.10.111:6379';

foreach(
  array_merge(
    glob( __DIR__ . '/../settings.d/*.php' ),
    glob( __DIR__ . "/../local.d/*.php" )
  ) as $conffile
) {
  include_once $conffile;
}

require_once( "$IP/../LocalSettings.php" );
require_once( "$IP/../../Settings.php" );
