<?php
# vi set ai syntax=php
{%- set db_creds      = salt['pillar.get']('accounts:wiki:db') -%}
{%- set db_servers    = salt['mine.get']('roles:db', 'network.ip_addrs', expr_form='grain').items() -%}
{%- set secrets       = salt['pillar.get']('accounts:wiki:secrets') -%}
{%- set swift_backend = salt['pillar.get']('accounts:swift:dreamhost') %}

# Managed by Salt Stack, please DO NOT TOUCH, or ALL CHANGES WILL be LOST!
# Ensure you change `salt/code/files/wpwiki.php.jinja` instead

if ( !defined( 'MEDIAWIKI' ) ) {
        exit;
}

##################### database settings #####################
$wgDBname = "wpwiki";
$wgDBservers = array(
        array(  'host'     => "{{ db_creds.hostname|default('localhost') }}",
                'dbname'   => $wgDBname,
                'user'     => "{{ db_creds.username|default('root') }}",
                'password' => "{{ db_creds.password|default('') }}",
                'type'     => "mysql",
                'flags'    => DBO_DEFAULT,
                'load'     => 0,
        )
);
{% if db_servers|count >= 2 %}{# Two or more because the first should already be taken #}
if ( !$wgCommandLineMode ) {
{% for name,ipList in db_servers -%}
{%- if name != 'db1' %}
$wgDBservers[] = array(
                'host'     => "{{ ipList[0] }}", # {{ name }}
                'dbname'   => $wgDBname,
                'user'     => "{{ db_creds.username|default('root') }}",
                'password' => "{{ db_creds.password|default('') }}",
                'type'     => "mysql",
                'flags'    => DBO_DEFAULT,
                'load'     => 1
        );
{% endif -%}
{%- endfor -%}
}
{%- endif %}
##################### database settings #####################

$wgArticlePath = '/wiki/$1';
$wgScriptPath  = '/w';

#require_once("$IP/extensions/WebPlatformAuth/WebPlatformAuth.php");
#$wgWebPlatformAuth['endpoints']['fxa_oauth']   = 'https://oauth.accounts.webplatform.org/v1/';
#$wgWebPlatformAuth['endpoints']['fxa_profile'] = 'https://profile.accounts.webplatform.org/v1/';
#$wgWebPlatformAuth['methods']['authorize']     = 'authorization';
#$wgWebPlatformAuth['methods']['token']         = 'token';
#$wgWebPlatformAuth['client']['id']             = '0000000000000000';
#$wgWebPlatformAuth['client']['secret']         = '3333333333333333333333333333333333333333333333333333333333333333';

$wgSecretKey     = '{{ secrets['key']|default('foo') }}';
$wgUpgradeKey    = '{{ secrets['upgrade']|default('bar') }}';
$wgCaptchaSecret = '{{ secrets['captcha']|default('baz') }}';

$wgEnableUploads  = true;
$wgUseImageMagick = true;
$wgImageMagickConvertCommand = "/usr/bin/convert";

require_once("$IP/extensions/SwiftCloudFiles/SwiftCloudFiles.php");
$wgFileBackends[] = array(
    'name'           => 'local-backend',
    'class'          => 'FSFileBackend',
    'wikiId'         => $wgDBname,
    'lockManager'    => 'nullLockManager',
    'containerPaths' => array(
               'local-public'  => $wgUploadDirectory,
               'local-thumb'   => "$wgUploadDirectory/thumb",
               'local-deleted' => "$wgUploadDirectory/deleted",
               'local-temp'    => "$wgUploadDirectory/temp"
    ),
    'fileMode'       => 420
);

{% if swift_backend.password is defined -%}
$wgFileBackends[] = array( // backend config for wiki's local repo
       'class'              => 'SwiftFileBackend',
       'name'               => 'local-ceph',
       'wikiId'             => $wgDBname,
       'lockManager'        => 'nullLockManager',
       'swiftAuthUrl'       => '{{ swift_backend['mwSwiftAuthUrl'] }}',
       'swiftUser'          => '{{ swift_backend['username'] }}',
       'swiftKey'           => '{{ swift_backend['password'] }}',
       'swiftTempUrlKey'    => '', // TODO
       'parallelize'        => 'implicit',
       'cacheAuthInfo'      => true,
       //'readOnly'          => 'Disabled during migration; please wait'
);
{%- endif %}
$wgLocalFileRepo = array(
       'class'             => 'LocalRepo',
       'name'              => 'local',
       'scriptDirUrl'      => $wgScriptPath,
       'scriptExtension'   => $wgScriptExtension,
       'url'               => '/w/images',
       'hashLevels'        => 2,
       'thumbScriptUrl'    => false,
       'transformVia404'   => false,
       'deletedHashLevels' => 3,
       'backend'           => 'local-backend'
);
{% if swift_backend.password is defined -%}
$wgLocalFileRepo['backend'] = 'local-ceph';
$wgLocalFileRepo['zones']['public'] = array('url'=> '//www.'.$GLOBALS['siteTopLevelDomain'].'/w/public');
$wgLocalFileRepo['zones']['thumb']  = array('url'=> '//www.'.$GLOBALS['siteTopLevelDomain'].'/w/thumb');
$wgLocalFileRepo['zones']['temp']   = array('url'=> '//www.'.$GLOBALS['siteTopLevelDomain'].'/w/temp');
{%- endif %}
