# Managed by Salt stack

external_auth:
  pam:
    renoirb:
        - .*
        - '@runner'
        - '@wheel'

halite:
  level: 'debug'
  server: 'cherrypy'
  host: '0.0.0.0'
  port: '8080'
  cors: False
  tls: True
  certpath: '/etc/pki/halite/certs/deployment.dho.webplatform.org.crt'
  keypath: '/etc/pki/halite/certs/deployment.dho.webplatform.org.key'
