<?php

{%  set db_creds      = salt['pillar.get']('accounts:buggenie:db') -%}
{%- set masterdb_ip   = salt['pillar.get']('infra:db_servers:mysql:writes', '127.0.0.1') -%}
{%- set tld           = salt['pillar.get']('infra:current:tld', 'webplatform.org') -%}

## Managed by Salt Stack, please DO NOT TOUCH, or ALL CHANGES WILL be LOST!
## source {{ source }}

## Debugging switches
#error_reporting(E_ALL);
#ini_set('display_errors', true);
#if(isset($_GET['foo'])) { error_log('Foo test hit from project'); phpinfo(); die(); }

self::setUname("{{ db_creds.username|default('root') }}");
self::setPasswd("{{ db_creds.password|default('') }}");
self::setTablePrefix("tbg3_");
self::setDSN("mysql:host={{ masterdb_ip }};dbname={{ db_creds.database|default('buggenie') }}");

$siteTopLevelDomain = '{{ tld }}';

# vim: set ft=php expandtab:

