#!upstart

#
# etcd Service.
# 

description "etcd config sharing subsystem"

start on (net-device-up
          and local-filesystems
          and runlevel [2345])
stop on runlevel [!2345]

env ETCD_DATA_DIR="{{ data_dir }}"

respawn
setuid {{ etcd_user }}
setgid {{ etcd_group }}

script
   exec start-stop-daemon --start --make-pidfile --pidfile /var/run/etcd.pid --exec /usr/bin/etcd
end script
