#!upstart

#
# etcd Service.
# 
# ref:
#   - http://upstart.ubuntu.com/cookbook/

description "etcd config sharing subsystem"

start on started
stop on shutdown

script
   exec /usr/bin/etcd
end script
